@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.App {
  width: 100%;
  min-height: 100vh;
  background-image: url("./Assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  overflow-y: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  background-color: black;
  height: 70px;
}
.left-navbar {
  padding-left: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.left-navbar a {
  color: white;
  font-size: 1.6rem;
}
.right-navbar {
  padding-right: 4rem;
}
.mint {
  font-family: "Special Elite", cursive;
  font-size: 1.2rem;
  color: white;
  border: 1px solid white;
  padding: 8px 25px;
  background-color: transparent;
  transition: all 0.35s ease-in-out;
}
.connect:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  gap: 6rem;
  width: 100%;
  flex-direction: column;
}
.absolute {
  right: 0;
  top: 3%;
  position: absolute;
  max-width: 30%;
}
.absolute2 {
  right: 0;
  top: 22%;
  position: absolute;
  max-width: 20%;
}
.absolute3 {
  right: 0;
  top: 39%;
  position: absolute;
  max-width: 27%;
}
.absolute4 {
  right: 0%;
  top: 59%;
  position: absolute;
  max-width: 38%;
}
.absolute5 {
  right: 0%;
  top: 73%;
  position: absolute;
  max-width: 27%;
}
.absolute6 {
  max-width: 36%;
  margin-top: -6rem;
}
.header {
  object-fit: contain;
  max-width: 37%;
  margin-bottom: 6rem;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.title {
  align-self: center;
  max-width: 531px;
  max-height: 65px;
  object-fit: contain;
  margin-bottom: 2rem;
}
.adjust {
  max-width: 63%;
}
.desc {
  margin: 0.5rem 0rem;
  max-width: 70%;
  object-fit: contain;
  padding-left: 6rem;
}
.max-50 {
  max-width: 43%;
}
.max-52 {
  max-width: 46%;
}
.max-80 {
  max-width: 65%;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
  font-family: "Special Elite", cursive;
  padding: 3rem 0rem;
}
.team h1 {
  font-size: 3.5rem;
  text-align: center;
  color: white;
}
.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.team-box {
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}
.team-img {
  margin-bottom: 0.75rem;
}
.team-img img {
  max-width: 100%;
  object-fit: contain;
}
.name {
  font-size: 1.2rem;
  margin-bottom: 0.45rem;
}
.position {
  width: max-content;
  font-size: 1.1rem;
}
@media screen and (max-width: 1215px) {
  .adjust {
    max-width: 63% !important;
  }
  .absolute4 {
    top: 61%;
  }
  .absolute3 {
    top: 42%;
  }
  .title {
    max-height: 55px;
  }
}
@media screen and (max-width: 1153px) {
  .adjust {
    max-width: 63% !important;
  }
  .header {
    margin-bottom: 1rem;
    max-width: 60%;
  }
  .absolute {
    top: 5%;
  }
  .absolute4 {
    top: 62%;
  }
  .absolute3 {
    top: 42%;
  }
}
@media screen and (max-width: 1029px) {
  .adjust {
    max-width: 63% !important;
  }
  .absolute3 {
    top: 43.5%;
  }

  .max-80 {
    max-width: 65%;
  }
  .max-52 {
    max-width: 46% !important;
  }
  .absolute2 {
    top: 24%;
  }
}
@media screen and (max-width: 939px) {
  .adjust {
    max-width: 63% !important;
  }
  .absolute5 {
    right: 0%;
    top: 76%;
    max-width: 25%;
  }
  .max-52 {
    max-width: 46% !important;
  }
  .wrapper {
    gap: 3rem;
  }
}
@media screen and (max-width: 835px) {
  .adjust {
    max-width: 63% !important;
  }
  .max-80 {
    max-width: 65%;
  }
  .absolute {
    top: 5%;
    max-width: 25%;
  }
  .absolute3 {
    top: 46%;
  }
  .absolute4 {
    top: 63%;
  }
  .max-52 {
    max-width: 46% !important;
  }
}
@media screen and (max-width: 761px) {
  .adjust {
    max-width: 63% !important;
  }
  .max-80 {
    max-width: 65% !important;
  }

  .absolute {
    top: 9%;
    max-width: 25%;
  }
  .header {
    max-width: 70%;
  }
  .container {
    width: 100%;
    gap: 3rem;
  }
  .title {
    max-height: 45px;
  }
  .desc {
    max-width: 80%;
    object-fit: contain;
    padding-left: 3rem;
  }

  .max-50 {
    max-width: 43%;
  }
  .absolute2 {
    right: 0;
    top: 28%;
    position: absolute;
    max-width: 15%;
  }
  .absolute3 {
    top: 42%;
  }
  .absolute4 {
    top: 61%;
  }
  .absolute5 {
    right: 0%;
    top: 77%;
    position: absolute;
    max-width: 17%;
  }
  .absolute6 {
    margin-top: -2rem;
    max-width: 40%;
  }
  .max-52 {
    max-width: 46% !important;
  }
}
@media screen and (max-width: 623px) {
  .adjust {
    max-width: 63% !important;
  }
  .absolute3 {
    top: 44%;
  }
  .max-52 {
    max-width: 53% !important;
  }
  .wrapper {
    flex-direction: column;
  }
  .team-box {
    margin: 0;
  }
}
@media screen and (max-width: 589px) {
  .adjust {
    max-width: 63% !important;
  }
  .absolute4 {
    top: 63%;
  }
  .max-52 {
    max-width: 46% !important;
  }
}
@media screen and (max-width: 531px) {
  .max-52 {
    max-width: 54% !important;
  }
  .header {
    max-width: 56%;
  }
  .max28 {
    max-height: 28px !important;
  }
  .container {
    width: 100%;
    gap: 3rem;
  }
  .title {
    max-width: 200px;
    max-height: 30px;
    margin-bottom: 1rem;
  }
  .desc {
    max-width: 95%;
    object-fit: contain;
    padding-left: 1rem;
  }
  .max-50 {
    max-width: 51%;
  }
  .adjust {
    max-width: 71% !important;
  }
  .absolute2,
  .absolute5 {
    display: none;
  }
  .absolute4 {
    top: 60%;
    max-width: 36%;
  }

  .absolute3 {
    top: 46%;
    max-width: 23%;
  }
  .absolute6 {
    margin-top: -2rem;
    max-width: 50%;
  }
  .left-navbar {
    gap: 1rem;
    padding-left: 1rem;
  }
  .right-navbar {
    padding-right: 1rem;
  }
}
@media screen and (max-width: 497px) {
  .absolute {
    top: 9.5%;
    max-width: 30%;
  }
}
@media screen and (max-width: 461px) {
  .absolute3 {
    top: 49%;
    max-width: 23%;
  }
}
@media screen and (max-width: 447px) {
  .absolute4 {
    top: 61%;
  }
}
@media screen and (max-width: 418px) {
  .absolute {
    top: 11%;
    max-width: 30%;
  }
  .absolute4 {
    top: 62%;
  }
}
