.App {
  width: 100%;
  min-height: 100vh;
  background-image: url("./Assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  gap: 6rem;
  width: 95%;
  flex-direction: column;
}
.absolute {
  right: 0;
  top: 5%;
  position: absolute;
  max-width: 30%;
}
.header {
  object-fit: contain;
  max-width: 50%;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  max-width: 50%;
  object-fit: contain;
  margin-bottom: 2rem;
}
.desc {
  margin: 0.5rem 0rem;
  max-width: 60%;
  object-fit: contain;
}
@media screen and (max-width: 1093px) {
  .title {
    max-width: 80%;
  }
  .desc {
    margin: 0.5rem 0rem;
    max-width: 90%;
    object-fit: contain;
  }
}
@media screen and (max-width: 625px) {
  .absolute {
    max-width: 25%;
    top: 0%;
  }
  .header {
    max-width: 70%;
  }
  .container {
    width: 100%;
    gap: 3rem;
  }
  .title {
    max-width: 95%;
  }
  .desc {
    max-width: 95%;
    object-fit: contain;
  }
}
